<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Acuerdo</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!acuerdoPlace || !dateAcuerdo || !acuerdoQuantity || !acuerdoInteres || !selectedState|| !acuerdoMunicipio" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="acuerdoPlace" placeholder="Lugar de acuerdo: "></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de vencimiento</ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime color="dark" locale="es-ES" id="datetime" [(ngModel)]="dateAcuerdo"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" type="number" [(ngModel)]="acuerdoQuantity" placeholder="Cantidad a pagar: ">$</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Moneda</ion-label>
    <ion-select [(ngModel)]="selectedCurrency">
      <ion-select-option value="">Seleccionar moneda</ion-select-option>
      <ion-select-option *ngFor="let moneda of monedas" [value]="moneda.codigo" class="selectState">{{ moneda.nombre }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" type="number" [(ngModel)]="acuerdoInteres" placeholder="Tasa de interéses: "> %</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-select [(ngModel)]="selectedState">
      <ion-select-option value="">Estado</ion-select-option>
      <ion-select-option *ngFor="let estado of estados" [value]="estado.nombre" [(ngModel)]="selectedState" class="selectState">{{ estado.nombre }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="acuerdoMunicipio" placeholder="Municipio:"></ion-input>
  </ion-item>
</ion-content>


