<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Prestamista</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!prestamistaName || !prestamistaDirection " [strong]="true" (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating" color="primary">Nombre del prestamista:</ion-label>
    <ion-input labelPlacement="floating" [(ngModel)]="prestamistaName" placeholder="Nombre del prestamista:"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" color="primary">Domicilio del prestamista:</ion-label>
    <ion-input labelPlacement="floating" [(ngModel)]="prestamistaDirection" placeholder="Domicilio del prestamista:"></ion-input>
  </ion-item>
</ion-content>
