<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Préstamo</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!prestamoQuantity || !prestamoPurpose || !prestamoPeriod "[strong]="true" (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating" color="primary">Cantidad del préstamo:</ion-label>
    <ion-input labelPlacement="stacked" [(ngModel)]="prestamoQuantity" placeholder="Cantidad del préstamo:">$</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" color="primary">Propósito del préstamo:</ion-label>
    <ion-input labelPlacement="stacked" [(ngModel)]="prestamoPurpose" placeholder="Propósito del préstamo:"></ion-input>
  </ion-item>
  <ion-item>
    <div style="display: flex; flex-direction: column;">
      <ion-label color="primary" style="width: 100%; text-align: left; margin-top: 15px; margin-bottom: 8px;">Fecha de fin de préstamo:</ion-label>
      <ion-datetime-button datetime="datetime" style="margin-bottom: 12px;" color="primary"></ion-datetime-button>
    </div>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime color="primary" locale="es-ES" id="datetime" [(ngModel)]="prestamoPeriod" min="2023" max="2050"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

</ion-content>

