ion-content{
  background-color: red;
}

ion-modal{
  color: black;
}

ion-datetime{
  background-color: rgb(233, 233, 233);
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-label{
  font-weight: bold;
}
ion-item{
  margin-bottom: 20px;
}
