<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="productName" placeholder="Nombre del producto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="productDescription" placeholder="Descripción"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="productPrice" placeholder="Precio" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="productQuantity" placeholder="Cantidad" type="number"></ion-input>
  </ion-item>
</ion-content>

