ion-fab{
  margin-bottom: 20px;
}
ion-fab ion-icon{
  font-size: 40px;
}
h1{
  margin: 0;
  font-size: 25px;
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-container{
  margin-bottom: 30px;
}
