<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!productName||!productDescription||!productPrice||!productQuantity" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngFor="let item of docState; let i = index;">
    <div class="product-container">
      <h1>Producto {{i + 1}}</h1>
      <ion-item>
        <ion-input labelPlacement="stacked" [(ngModel)]="productName" placeholder="Nombre del producto {{i + 1}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="stacked" [(ngModel)]="productDescription" placeholder="Descripción de producto {{i + 1}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="stacked" [(ngModel)]="productPrice" placeholder="Precio producto {{i + 1}}" type="number">$</ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="stacked" type="number" [(ngModel)]="productQuantity" placeholder="Cantidad producto {{i + 1}}" type="number"></ion-input>
      </ion-item>
    </div>
  </ng-container>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addProduct()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


