<ion-header>
  <ion-toolbar>
    <ion-title>Términos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Bienvenido/a a nuestra aplicación generadora de documentos y contratos automáticamente. Antes de utilizar nuestra aplicación, te pedimos que leas detenidamente los siguientes términos de uso, ya que constituyen un contrato legalmente vinculante entre tú y DocsCon.</h1>
  <h2>Aceptación de los terminos de uso:</h2>
  <p>Al acceder o utilizar nuestra aplicación, aceptas cumplir con estos términos de uso y todas las leyes y regulaciones aplicables. Si no estás de acuerdo con alguno de estos términos, por favor, no utilices nuestra aplicación.</p>
  <h2>Uso de la aplicación:</h2>
  <p>Nuestra aplicación está diseñada para generar documentos y contratos automáticamente utilizando los datos proporcionados por el Usuario. El Usuario es el único responsable de la precisión, integridad y legalidad de los datos proporcionados. La aplicación no se hace responsable de los errores o consecuencias derivadas del uso de datos incorrectos o incompletos.</p>
  <h2>Propiedad intelectual:</h2>
  <p>Todos los derechos de propiedad intelectual relacionados con nuestra Aplicación, incluyendo pero no limitándose a los derechos de autor, marcas comerciales, patentes y secretos comerciales, son propiedad exclusiva de nuestra empresa. Queda estrictamente prohibida la reproducción, distribución, modificación o cualquier otro uso no autorizado de los materiales y contenidos de la Aplicación sin el consentimiento previo por escrito de nuestra empresa.</p>
  <h2>Privacidad y protección de datos:</h2>
  <p>La recopilación y el uso de los datos personales del Usuario se rigen por nuestra política de privacidad. Al utilizar nuestra Aplicación, consientes el uso de tus datos personales de acuerdo con nuestra política de privacidad.</p>
  <h2>Limitación de responsabilidad:</h2>
  <p>La Aplicación se proporciona "tal cual" y no ofrecemos ninguna garantía en cuanto a su funcionamiento, precisión o idoneidad para un propósito particular. En ningún caso seremos responsables de los daños directos, indirectos, incidentales, especiales o consecuentes derivados del uso o la imposibilidad de utilizar la Aplicación.</p>
  <h2>Modificaciones y terminación:</h2>
  <p>Nos reservamos el derecho de modificar o interrumpir la Aplicación en cualquier momento y sin previo aviso. Asimismo, nos reservamos el derecho de modificar estos términos de uso en cualquier momento. Se te notificará cualquier cambio sustancial en los términos de uso, y tu uso continuado de la Aplicación después de dicha notificación constituirá tu aceptación de los términos modificados.</p>
  <h2>Legislación aplicable y jurisdicción:</h2>
  <p>Estos términos de uso se regirán e interpretarán de acuerdo con las leyes del país en el que se encuentra nuestra empresa. Cualquier disputa relacionada con estos términos estará sujeta a la jurisdicción exclusiva de los tribunales competentes de esa jurisdicción.</p>
  <p>Al utilizar nuestra Aplicación, reconoces que has leído, comprendido y aceptado estos términos de uso en su totalidad. Si no estás de acuerdo con alguno de los términos, te recomendamos que no utilices nuestra Aplicación.</p>
</ion-content>
