<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Pago</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!selectedPayment||!bankName||!moneda" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Forma de pago</ion-label>
    <ion-select [(ngModel)]="selectedPayment">
      <ion-select-option value="">Selecciona una opción</ion-select-option>
      <ion-select-option value="Tarjeta de crédito/debito">Tarjeta de crédito/débito</ion-select-option>
      <ion-select-option value="Paypal">PayPal</ion-select-option>
      <ion-select-option value="Transferencia Bancaria">Transferencia bancaria</ion-select-option>
      <ion-select-option value="Efectivo">Efectivo</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="bankName" placeholder="Nombre del banco" maxlength="20"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="moneda" placeholder="Moneda" ></ion-input>
  </ion-item>
</ion-content>
