<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Deudor</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!deudorName||!deudorDomicile||!deudorNumber" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="deudorName" placeholder="Nombre completo del deudor:"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="deudorDomicile"  placeholder="Domicilio:"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [maxlength]="10" [(ngModel)]="deudorNumber" placeholder="Teléfono:"></ion-input>
  </ion-item>
</ion-content>
