<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!clientName||!rfcClient||!cfdiUse||!domicileClient||!selectedState||!clientNumber" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="clientName" placeholder="Nombre del cliente"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="rfcClient" placeholder="RFC del cliente"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="cfdiUse" placeholder="Uso del CFDI"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="domicileClient" placeholder="Domicilio del cliente"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-select [(ngModel)]="selectedState">
      <ion-select-option value="">Estado</ion-select-option>
      <ion-select-option *ngFor="let estado of estados" [value]="estado.nombre" class="selectState">{{ estado.nombre }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" [(ngModel)]="clientNumber" placeholder="Telefono" type="tel"></ion-input>
  </ion-item>
</ion-content>

