<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!clientName||!rfcClient||!cfdiUse||!domicileClient||!selectedState||!clientNumber" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label color="primary" position="floating">Nombre completo del cliente:</ion-label>
    <ion-input labelPlacement="floating" [(ngModel)]="clientName" placeholder="Nombre completo del cliente"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="floating">RFC del cliente:</ion-label>
    <ion-input labelPlacement="floating" maxlength="13" (ionChange)="rfcClient = rfcClient.toUpperCase()" [(ngModel)]="rfcClient" placeholder="RFC del cliente"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Uso de CFDI:</ion-label>
    <ion-select [(ngModel)]="cfdiUse">
      <ion-select-option value="">Selecciona una opción</ion-select-option>
      <ion-select-option value="Gastos en general">Gastos en general</ion-select-option>
      <ion-select-option value="Gastos en Mercancías">Gastos en mercancías</ion-select-option>
      <ion-select-option value="Honorarios médicos, dentales y gastos hospitalarios">Honorarios médicos, dentales y gastos hospitalarios</ion-select-option>
      <ion-select-option value="Pagos por servicios educativos">Pagos por servicios educativos (colegiaturas)</ion-select-option>
      <ion-select-option value="Devoluciones, descuentos o bonificaciones">Devoluciones, descuentos o bonificaciones</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="floating">Domicilio del cliente:</ion-label>
    <ion-input labelPlacement="floating" [(ngModel)]="domicileClient" placeholder="Domicilio del cliente"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Estado:</ion-label>
    <ion-select [(ngModel)]="selectedState">
      <ion-select-option value="">Estado</ion-select-option>
      <ion-select-option *ngFor="let estado of estados" [value]="estado">{{ estado }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="floating">Teléfono:</ion-label>
    <ion-input labelPlacement="floating" type="tel" [(ngModel)]="clientNumber" maxlength="10" placeholder="Teléfono"></ion-input>
  </ion-item>
</ion-content>


