*{
  margin: 0;
  padding: 0;
}
ion-toolbar{
  padding-top: 15px;
  height: fit-content;
}

.toolbar-container{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
}

ion-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-left: 4px;
  height: 60px;
}

.addIcon{
  font-size: 25px;
  padding-top: 7px;
}

.addIconButton{
  color: rgb(75, 75, 75);
  background-color: transparent;
}

ion-content{
  display: flex;
}

.searchbar-container{
  display: flex;
  align-items: center;
  height: auto;
  border-radius: 11px;
  width:auto;
  height: 27px;
  background-color: rgb(195, 195, 195);
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 7px;
}

ion-searchbar{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
  --color: black;
}

.icon-search{
  padding-left: 10px;
  color: rgb(59, 59, 59);
}

.cancel-btn{
  height: 18px;
  color: black;
}

.hidden-btn{
  position: absolute;
  top: 5px;
  right: -100px;
  transition: .5s;
}

.visible-btn{
  display: flex;
  transition: .5s;
}

.refresher-container{
  width: 100%;
  height: 100px;
  margin-top: 100px;
}

.documents-list{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

ion-card{
  width: 100%;
  height: 120px;
  //margin-top: 12px;
  border-radius: 13px;
  padding: 12px 12px 12px 12px;
  text-align: left;
  color: #434343;
}

ion-card:hover{
  cursor: pointer;
}

.icon-doc{
  font-size: 25px;
  font-weight: bolder;
  margin-top: 15px;
}

.acomodo{
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  padding: 0px 10px 0px 10px;
  gap: 10px;
  width: 100%;
}

ion-card-content{
  display: flex;
}

.document-img{
  width: 80px;
  position: absolute;
  left: 54%;
  bottom: 20px;
  transform: rotate(22deg);
}

.deleteButton{
  position: absolute;
  left: 85%;
  bottom: 45px;
  font-size: 30px;
  color: rgb(45, 45, 45);
}

ion-card-title{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #434343;
}

ion-card-subtitle{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
  color: #434343;
}

.btn-menu{
  position: absolute;
  left: 80%;
  top: 10%;
  height: auto;
}

.btn-menu ion-icon{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: white;
}

.loading-card {

}

.skeleton-header {
  margin: 12px;
  width: 60%;
  height: 20px;
}

.skeleton-subtitle {
  width: 50%;
  height: 12px;
  margin: 12px;
}

.skeleton-content {
  width: 40%;
  height: 12px;
  margin: 12px;
}

.divLeft{
  width: 75%;
  height: 100%;
}

.divRight{

}

