<ion-toolbar>
  <div class="toolbar-container">
    <ion-title>Mi Cuenta</ion-title>
  </div>
</ion-toolbar>

<ion-content>
  <!-- <ion-button color="dark" class="user-icon" shape="round"><ion-icon name="person-circle-outline"></ion-icon></ion-button> -->
  <div class="user-container">
    <ion-button fill="clear" class="btn-img">
      <ion-avatar (click)="avatarAccount()">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-button>
    <p class="email-user">
      {{uid}}
    </p>
  </div>
</ion-content>
