<ion-toolbar>
  <div class="toolbar-container">
    <ion-title>Mi Cuenta</ion-title>
  </div>
</ion-toolbar>

<ion-content>
  <!-- <ion-button color="dark" class="user-icon" shape="round"><ion-icon name="person-circle-outline"></ion-icon></ion-button> -->
  <div class="user-container">
    <ion-avatar>
      <img *ngIf="profile?.['imageUrl']; else placeholder_avatar;" [src]="profile?.['imageUrl']"/>
      <ng-template #placeholder_avatar>
        <ion-icon name="person-circle"></ion-icon>
      </ng-template>
    </ion-avatar>
    <p class="email-user">
      {{uid}}
    </p>
  </div>


  <div class="options-container">
    <ion-button expand="full" (click)="btnCuenta()"><span>Cuenta</span></ion-button>
    <ion-button expand="full" (click)="btnConfiguration()"><span>Acerca de DocsCon</span></ion-button>
    <ion-button expand="full" (click)="btnAyuda()"><span>Ayuda</span></ion-button>
  </div>

  <div class="logout-container">
    <ion-button (click)="logout()" shape="round" color="dark"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </div>

</ion-content>
