<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Prestatario</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!prestatarioName || !prestatarioDirection" [strong]="true" (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating" color="primary">Nombre del prestatario:</ion-label>
    <ion-input [(ngModel)]="prestatarioName" placeholder="Nombre del prestatario:"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" color="primary">Domicilio del prestatario:</ion-label>
    <ion-input [(ngModel)]="prestatarioDirection" placeholder="Domicilio del prestatario:"></ion-input>
  </ion-item>
</ion-content>

