<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Beneficiario</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!beneficiarioName || !beneficiarioDirection || !beneficiarioNumber"(click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label color="primary" position="floating">Nombre completo del beneficiario:</ion-label>
    <ion-input (ionChange)="beneficiarioName = beneficiarioName.toUpperCase()" [(ngModel)]="beneficiarioName" placeholder="Nombre completo del beneficiario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="floating">Domicilio del beneficiario:</ion-label>
    <ion-input [(ngModel)]="beneficiarioDirection" placeholder="Domicilio del beneficiario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="floating">Teléfono del beneficiario:</ion-label>
    <ion-input type="number" [maxlength]="10" [(ngModel)]="beneficiarioNumber" placeholder="Teléfono del beneficiario"></ion-input>
  </ion-item>
</ion-content>

