<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class=".toolbar-container">
      <ion-title>Configuración</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="options-container">
    <ion-button expand="full" (click)="appareance()"><span>Apariencia</span></ion-button>
    <!-- <ion-button expand="full"><span>Configuración</span></ion-button>
    <ion-button expand="full"><span>Preferencias</span></ion-button> -->
  </div>
</ion-content>
