<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class=".toolbar-container">
      <ion-title>Acerca de</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="options-container">
    <div class="container-op">
      <ion-label>Versión 1.0.0</ion-label>
    </div>
    <div class="container-op">
      <ion-label>Creador: <a href="https://www.instagram.com/delapaz.oscar/"> Oscar de la Paz</a></ion-label>
    </div>
  </div>

  <ion-button color="dark" (click)="openModalTerms()">Términos y condiciones</ion-button>
</ion-content>
