*{
  margin: 0;
  padding: 0;
}
ion-toolbar{
  padding-top: 15px;
  display: flex;
  height: 70px;
}

.toolbar-container{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

ion-title{
  margin-left: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 700;

}
