
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="information-circle-outline" (click)="setOpen(true)" class="helpButton"></ion-icon>
    </ion-buttons>
    <ion-title>{{datos.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: {{datos.color}};">

  <div class="form-container" *ngIf="datos.name === 'Factura'">
    <ion-item *ngIf="datos.name === 'Factura'" class="item-empresa">
      <ion-label class="label-empresa">Empresa</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalEmpresa()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
    <ion-item *ngIf="datos.name === 'Factura'" class="item-empresa">
      <ion-label class="label-empresa">Cliente</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalCliente()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
    <ion-item *ngIf="datos.name === 'Factura'" class="item-empresa">
      <ion-label class="label-empresa">Productos</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalProductos()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
    <ion-item *ngIf="datos.name === 'Factura'" class="item-empresa">
      <ion-label class="label-empresa">Forma de Pago</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalPago()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="form-container" *ngIf="datos.name === 'Pagaré'">
    <ion-item *ngIf="datos.name === 'Pagaré'" class="item-empresa">
      <ion-label class="label-empresa">Deudor</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalDeudor()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Pagaré'" class="item-empresa">
      <ion-label class="label-empresa">Acreedor</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalAcredor()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Pagaré'" class="item-empresa">
      <ion-label class="label-empresa">Acuerdo</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalAcuerdo()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="form-container" *ngIf="datos.name === 'Contrato'">
    <ion-item *ngIf="datos.name === 'Contrato'" class="item-empresa">
      <ion-label class="label-empresa">Arrendador</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalArrendador()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Contrato'" class="item-empresa">
      <ion-label class="label-empresa">Arrendatario</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalArrendatario()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Contrato'" class="item-empresa">
      <ion-label class="label-empresa">Renta</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalRenta()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="form-container" *ngIf="datos.name === 'Cheque'">
    <ion-item *ngIf="datos.name === 'Cheque'" class="item-empresa">
      <ion-label class="label-empresa">Beneficiario</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalBeneficiario()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Cheque'" class="item-empresa">
      <ion-label class="label-empresa">Detalles</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModaldetallescheque()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="form-container" *ngIf="datos.name === 'Préstamo'">
    <ion-item *ngIf="datos.name === 'Préstamo'" class="item-empresa">
      <ion-label class="label-empresa">Préstamo</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalPrestamo()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Préstamo'" class="item-empresa">
      <ion-label class="label-empresa">Prestatario</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalPrestatario()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Préstamo'" class="item-empresa">
      <ion-label class="label-empresa">Prestamista</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalPrestamista()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Préstamo'" class="item-empresa">
      <ion-label class="label-empresa">Garante</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalGarante()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="form-container" *ngIf="datos.name === 'Curriculum'">
    <ion-item *ngIf="datos.name === 'Curriculum'" class="item-empresa">
      <ion-label class="label-empresa">Datos Personales</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalDatosPersonales()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Curriculum'" class="item-empresa">
      <ion-label class="label-empresa">Formación</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalFormacion()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Curriculum'" class="item-empresa">
      <ion-label class="label-empresa">Idiomas</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalIdiomas()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Curriculum'" class="item-empresa">
      <ion-label class="label-empresa">Habilidades</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalHabilidades()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Curriculum'" class="item-empresa">
      <ion-label class="label-empresa">Experiencia</ion-label>
      <ion-button style="--background: {{datos.color}};" (click)="openModalExperiencia()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="btnCenter">
    <ion-button class="create-button" (click)="createDocument()">Crear {{datos.name}}</ion-button>
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{datos.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button class="close-button" (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" style="--background: #DEDEDE">
        <p class=".document-description">
          {{datos.description}}
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
