
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="information-circle-outline" (click)="setOpen(true)" class="helpButton"></ion-icon>
    </ion-buttons>
    <ion-title>{{datos.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: {{datos.color}};">

  <div class="form-container">
    <ion-item *ngIf="datos.name === 'Factura'" class="item-empresa">
      <ion-label class="label-empresa">Empresa</ion-label>
      <ion-button (click)="openModalEmpresa()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
    <ion-item *ngIf="datos.name === 'Factura'" class="item-empresa">
      <ion-label class="label-empresa">Cliente</ion-label>
      <ion-button (click)="openModalCliente()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
    <ion-item *ngIf="datos.name === 'Factura'" class="item-empresa">
      <ion-label class="label-empresa">Productos</ion-label>
      <ion-button (click)="openModalProductos()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
    <ion-item *ngIf="datos.name === 'Factura'" class="item-empresa">
      <ion-label class="label-empresa">Forma de Pago</ion-label>
      <ion-button (click)="openModalPago()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="form-container">
    <ion-item *ngIf="datos.name === 'Pagaré'" class="item-empresa">
      <ion-label class="label-empresa">Deudor</ion-label>
      <ion-button (click)="openModalDeudor()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Pagaré'" class="item-empresa">
      <ion-label class="label-empresa">Acreedor</ion-label>
      <ion-button (click)="openModalAcredor()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="datos.name === 'Pagaré'" class="item-empresa">
      <ion-label class="label-empresa">Acuerdo</ion-label>
      <ion-button (click)="openModalAcuerdo()">Datos</ion-button>
      <ion-icon name="alert-circle-outline" size="small" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="btnCenter">
    <ion-button class="create-button" (click)="createDocument()">Crear {{datos.name}}</ion-button>
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{datos.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button class="close-button" (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" style="--background: #DEDEDE">
        <p class=".document-description">
          {{datos.description}}
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
