<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Acreedor(Prestador)</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!acredorName" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label color="primary" position="floating">Nombre completo del Acredor:</ion-label>
    <ion-input type="text" placeholder="Nombre completo del Acredor" [(ngModel)]="acredorName"></ion-input>
  </ion-item>
</ion-content>

