ion-fab{
  margin-bottom: 20px;
}
ion-fab ion-icon{
  font-size: 40px;
}
h1{
  margin: 12px 0px 0px 12px;
  font-size: 25px;
  color: rgb(24, 97, 255);
  font-weight: bold;
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-container{
  margin-bottom: 30px;
}

ion-label{
  font-weight: bold;
}

ion-item{
  margin-bottom: 20px;
}
